* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
}
body {
  background-color:#f1f5f9;
}

/*Log in part and signup part*/
#page-login,#page-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-header,.signup-header{
    text-align: center;
    margin-bottom: 30px;
}
.login-card,.signup-card{
  background: #fff;
  width: 400px;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 14px;
}

.email-input,.pass-input,.signup-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.log-btn,.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.login-footer,.signup-footer{
  text-align: center;
  margin-top:   20px;
  font-size: 0.9rem;
}

.login-footer a ,.signup-footer a{
  color: #3498db;
  font-weight: bold;
}


