* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
}
body {
  background-color: #f1f5f9;
}

/*Log in part and signup part*/
#page-login,
#page-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-header,
.signup-header {
  text-align: center;
  margin-bottom: 30px;
}
.login-card,
.signup-card {
  background: #fff;
  width: 400px;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
  font-size: 14px;
}

.email-input,
.pass-input,
.signup-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.log-btn,
.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.login-footer,
.signup-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.login-footer a,
.signup-footer a {
  color: #3498db;
  font-weight: bold;
}

.form-group .errSpan {
  color: #d93025;
  font-size: 13px;
  margin-top: 4px;
  display: block;
}

.password-wrapper {
  position: relative;
}

.toggle-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.toggle-eye:hover {
  color: #000;
}
.forgot-password {
  text-align: right;
  margin-top: 5px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/*Sidebar*/

.sidebar {
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #2c3e50;
  z-index: 100;
}
.sidebar .logo {
  height: 90px;
  padding: 16px 0px 16px 32px;
  color: #fff;
  display: flex;
  align-items: center;
}

.sidebar .logo h2 {
  margin-left: 10px;
  font-size: 24px;
}
.sidebar .menu {
  margin-top: 16px;
}
.sidebar li {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 15px;
}
.sidebar a {
  padding-left: 16px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18pxrem;
  gap: 16px;
}
.sidebar a:not(.no-hover):hover {
  color: #ff6b6b;
}

.logout-btn {
  margin: 1.5rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 0;
}

.logout-btn:hover {
  background-color: #f44336;
  border-radius: 5px;
}
.menu a.active {
  background-color: #3498db;
  border-radius: 5px;
  padding: 5px;
}

/* main content */
.main-content {
  margin-left: 260px;
  min-height: 100vh;
  padding: 32px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 32px;
}
.user-wrapper {
  display: flex;
  align-items: center;
}
.user-img {
  border-radius: 50%;
  margin-right: 1rem;
  padding: 5px;
  border: 1px solid #3498db;
}

/* cards */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  margin-bottom: 32px;
}
.single-card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(171, 196, 219);
  padding: 32px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(85, 85, 180, 0.2);
  border: 2px solid #fff;
}
.single-card h1 {
  font-size: 40px;
  color: #1d2231;
}
.single-card span {
  color: #37383a;
}

#logo-card {
  font-size: 32px;
  color: #5b6168;
}

.edit-profile-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #5cb1ea;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

.edit-profile-btn:hover {
  background-color: #2980b9;
}

.search-box {
  margin-bottom: 15px;
}

.search-box input {
  width: 250px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Tables */
.table-responsive {
  background: #fdfdfd;
  border-radius: 8px;
  padding: 16px;
  overflow-x: auto;
  border: 1px solid gainsboro;
}
.table-responsive table {
  border-collapse: collapse;
  min-width: 900px;
  width: 100%;
}
thead tr {
  border-top: 1px solid #ddd7d7;
  border-bottom: 2px solid #a9a3a3;
}
thead td {
  font-weight: 700;
  padding: 8px 16px;
}
td {
  padding: 14px 16px;
  font-size: 15px;
  color: #222;
  border-bottom: 1px solid #f0f0f0;
}
