
/* Login CSS */
   body {
            margin: 0;
            font-family: Arial;
            height: 100vh;
        }

        .container {
            display: flex;
            height: 100vh;
        }

        
        .image {
            width: 50%;
            height:100%;
            display: block;  
        }
 


        .image img {
            width: 100%;
            height: 100%;
            object-fit:fill;
            top: 0;
            left: 0;
            bottom: 0;
            
        }

      
        .login {
            width: 50%;
            display: flex;
            flex-direction: column;   
            align-items: center;
            padding-top: 30px;       
        }

        
        .login h1 {
            margin: 0 0 20px 0;       
        }

       
        .box {
            width: 250px;
            text-align: auto;
            margin-top:50px;
        }

        .box h2 {
            margin-bottom: 15px;
        }

        input {
          width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 20px;
        }

        button {
            width: 100px;
            padding: 8px;
            margin-top: 10px;
            font-size: 14px;
            background-color: rgb(0 0 0);
            color: black;
            border-radius: 10px;

            
            color: white;
        }
        button:hover {
            background-color: rgb(80, 78, 78);
        }
        
        
        .success-msg{
 
  padding: 10px;
  background: #d4edda;
  color: #155724;
  border-radius: 6px;
  margin: 10px 0;
  font-size: 14px;
}


.error-msg{
  color: red;
  margin: 10px 0;
  font-size: 14px;
}

.login-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 10px;
}

.forgot-link{
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.forgot-link:hover{
  text-decoration: underline;
}
