.layout
        {
            display: flex;
            height: 100vh;
        }

        .sidebar{
            width: 220px;
            background: rgb(62, 57, 66);
            color:rgb(255, 255, 255);
            padding:20px;
            position:fixed;
            top: 0;
            left: 0;
            bottom: 0;


        }
        .sidebar a 
        {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 60px 0;
    border-radius: 5px;
    font-family: serif;
    font-size: 20px;
        }
    .sidebar a:hover 
    {
      background: #333;
      border-radius: 200px;
      
    }
    
    .gap
    {
        margin: 80px;
    }


/* Card styling */
.main-content {
    margin-left: 260px;
    padding: 30px;
    width: 100%;
    background: #eef0f4;
    min-height: 100vh;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;

}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    flex: 1;
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.card p {
    font-size: 28px;
    font-weight: bold;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #3e3942;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
