
/* sign up */
body
        {
            margin:0;
            font-family: Arial, sans-serif;
            height: 100vh;

        }

        
        .container {
            display: flex;
            height: 100vh;
        }

     
        .left {
            width: 50%;
        }

        .left img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

       
        .rightpart {
            width: 50%;
            padding: 40px;
            align-items: center;
            text-align: center;
        }

        h1 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 20px;
        }

        input{
            width: 50%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 20px;
        }

       button {
    width: 150px;
    padding: 8px;
    margin: 10px auto;   
    font-size: 14px;
    background-color: rgb(0 0 0);
    color: white;
    border-radius: 20px;
    display: block;
}
