.layout
        {
            display: flex;
            height: 100vh;
        }

        .sidebar{
            width: 220px;
            background: rgb(62, 57, 66);
            color:rgb(255, 255, 255);
            padding:20px;
            position:fixed;
            top: 0;
            left: 0;
            bottom: 0;


        }
        .sidebar a 
        {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 60px 0;
    border-radius: 5px;
    font-family: serif;
    font-size: 20px;
        }
    .sidebar a:hover 
    {
      background: #333;
      border-radius: 200px;
      
    }
    
    .gap
    {
        margin: 80px;
    }